#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  padding: 20px;
  padding: 0;
}

form {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

h2 {
  text-align: center;
  color: #222;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


input {
  width: 95%;
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: #333;
  background-color: #ffffff;
}

label {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: #D9534F;
  font-size: 14px;
  background: #f8d7da;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  width: 100%; 
  text-align: center; 
  margin-bottom: 10px; 
}

.success {
  color: #155724;
  font-size: 14px;
  background: #d4edda;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #c3e6cb;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.username-display {
  font-size: 18px;
  color: #222;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}


.auth-container {
  margin-top: 30px;
  max-width: 400px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.auth-container button {
  width: 220px;
  padding: 12px;
  margin-top: 15px;
  display: block;
}

.auth-container h2 {
  margin-bottom: 10px;
}

form label, form input, form button {
  margin-bottom: 12px;
}